## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
publish/

## NuGet
*.nupkg
*.snupkg
.nuget/
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Rider
.idea/
*.sln.iml

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Build
*.dll
*.exe
*.pdb
*.cache
*.log

## Generated
ClipMaster.ico
CreateIcon.ps1
